
.tac-one-regular {
  font-family: "Tac One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 90px;
  color: rgb(255, 255, 255); /* Color base del texto */
  text-shadow: -16px -20px 50px rgb(136, 0, 0), -10px 5px 300px rgb(116, 104, 0), 20px 30px 50px rgb(11, 90, 0);
}


.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  color: azure;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 90px;
  text-shadow: 4px -2px 5px rgba(255, 255, 255, 0.856);
}


.container
{
    background-color: aqua;
    
    height: 100px;
}

/*
.container-fluid*/


.row
{
    background-color: rgb(0, 0, 0);
    margin: 5px;
}

.col{
    background-color: plum;
    margin: 5px;
}
.navbar{
  border: 5px solid #000c79bb; 
  text-shadow: 2px -2px 10px rgb(217, 255, 0);
}

.accordion-body{
  background-color: rgb(253, 255, 148);
}
.tab-content{
  background-color: rgb(161, 255, 118);
}
